scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/prasantsite
        create path (nt:unstructured) /content/dam/prasantsite/jcr:content
        set properties on /content/dam/prasantsite/jcr:content
        set cq:conf{String} to /conf/prasantsite
        set jcr:title{String} to \"Prasant Site\"
        end
        "
]
